            body {
            margin: 0;
            color: #223b49;
        }
        
        .navbar {
            background-color: #223b49;
            padding: 10px;
            height: 80px;
            color: gold;
        }
        
        .navbar-link {
            color: gold;
        }
        
        .hero {
            height: 500 px;
            background: darkslateblue;
            background:url {
                https: //unsplash.com/photos/1200*720/?event} no-repeat center; 
                color: #ffffff;
                text-align: center;
            }